<h2 class="text-2xl font-bold mb-4">Reactivos: <small class="text-base font-normal">Dinámicos</small></h2>
<hr class="mb-4">

<form autocomplete="off" class="space-y-4" [formGroup]="formGames">

    <!-- Nombre -->
    <div class="flex flex-col space-y-2">
        <label class="text-sm font-medium">Nombre</label>
        <input class="border border-gray-300 rounded p-2"
               placeholder="Nombre de la persona"
               formControlName="name">
        @if (formUtil.isErrorField(formGames, "name")) {
            <span class="text-red-500 text-sm">
                  {{ formUtil.getMessageError(formGames, "name") }}
            </span>
        }
    </div>

    <!-- Agregar Favorito -->
    <div class="flex flex-col space-y-2">
        <label class="text-sm font-medium">Agregar</label>
        <div class="flex space-x-2">
            <input class="border border-gray-300 rounded p-2 flex-grow"
                   placeholder="Agregar favorito"
                   [formControl]="nameGame" (keydown.enter)="onSaveGameInFavorities()">
            <button class="btn btn-outline-primary bg-blue-500 text-white rounded p-2"
                    type="button" (click)="onSaveGameInFavorities()">
                Agregar favorito
            </button>
        </div>
    </div>

    <!-- Lista de Juegos Favoritos -->
    <div class="flex flex-col space-y-2">
        <label class="text-sm font-medium">Favoritos</label>
        <div class="space-y-2"  formArrayName="favorites">
            @for (item of getFavorities.controls; track $index; let index = $index) {
                <div class="flex space-x-2">
                    <input class="border border-gray-300 rounded p-2 flex-grow" [formControlName]="index">
                    <button class="btn btn-outline-danger bg-red-500 text-white rounded p-2"
                            type="button" (click)="onDeleteFavorities(index)">
                      Eliminar
                  </button>
                </div>
                @if (formUtil.isValidArrayField(getFavorities, index)) {
                    <span class="text-red-500 text-sm space-y-2">
                       {{ formUtil.getMessageErrorArrayField(getFavorities, index) }}
                    </span>
                }
            } 

        </div>
        @if (getFavorities.invalid) {
            <span class="text-red-500 text-sm">
                {{ formUtil.dynamicMessageSwitch(getFavorities.errors!) }}
            </span>
        }
    </div>

    <div class="flex justify-end">
        <button type="submit"
                class="bg-blue-500 text-white rounded p-2 op cursor-pointer" [class.opacity-80]="formGames.invalid" [disabled]="formGames.invalid">
            Guardar
        </button>
    </div>
</form>

<div class="mt-4 text-black">
    <span class="block text-sm font-medium text-white">Valid</span>
    <pre class="bg-gray-100 p-2 rounded">{{ formGames.valid| json }}</pre>
    <br>

    <span class="block text-sm font-medium text-white">Value</span>
    <pre class="bg-gray-100 p-2 rounded">{{ formGames.value | json }}</pre>
    <br>

    <span class="block text-sm font-medium text-white">Value</span>
    <pre class="bg-gray-100 p-2 rounded">{{ getFavorities.errors | json }}</pre>
    <br>

</div>
