<p class="posts__title">Post publicados</p>
<section class="posts">
    <div class="posts__grid">
        @for (item of postService.posts(); track item.id) {
            <div class="posts__card">
                <h4 class="posts__card-title">{{item.title}}</h4>
                <p class="posts__card-description">{{item.description}}</p>
                <button class="posts__card-button" [routerLink]="`/posts/${item.id}`">Ver más</button>
            </div>
        } @empty {
            <p>No hay ningún post</p>
        }
    </div>
</section>