<h2 class="text-2xl font-bold mb-4">Validaciones Reactivas</h2>
<hr class="mb-4">

<div class="flex flex-col space-y-4">
    <form autocomplete="off" class="space-y-4" [formGroup]="myFormRegister" (submit)="onSaven()">

        <!-- Nombre -->
        <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium">Nombre y apellido</label>
            <input type="text"
                   class="border border-gray-300 rounded p-2"
                   placeholder="Nombre del usuario" formControlName="name">
            @if (formUtils.isErrorField(myFormRegister, "name")) {
                <span class="text-red-500 text-sm">
                    {{ formUtils.getMessageError(myFormRegister, "name") }}
                </span>
            }
        </div>

        <!-- Email -->
        <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium">Email</label>
            <input type="email"
                   class="border border-gray-300 rounded p-2"
                   placeholder="Email del usuario" 
                   formControlName="email">
            @if (formUtils.isErrorField(myFormRegister, "email")) {
                <span class="text-red-500 text-sm">
                    {{ formUtils.getMessageError(myFormRegister, "email") }}
                </span>
            }
        </div>

        <!-- Username -->
        <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium">Username</label>
            <input type="text"
                   class="border border-gray-300 rounded p-2"
                   placeholder="Nombre código del usuario"
                   formControlName="username">
            @if (formUtils.isErrorField(myFormRegister, "username")) {   
                <span class="text-red-500 text-sm">
                    {{ formUtils.getMessageError(myFormRegister, "username") }}
                </span>
            }
        </div>

        <!-- Password -->
        <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium">Password</label>
            <input type="password"
                   class="border border-gray-300 rounded p-2"
                   placeholder="Password de su cuenta"
                   formControlName="password">
            @if (formUtils.isErrorField(myFormRegister, "password")) {
                <span class="text-red-500 text-sm">
                    {{ formUtils.getMessageError(myFormRegister, "password") }}
                </span>
            }   

        </div>

        <!-- Password2 -->
        <div class="flex flex-col space-y-2">
            <label class="text-sm font-medium">Confirmar</label>
            <input type="password"
                   class="border border-gray-300 rounded p-2"
                   placeholder="Confirmar la contraseña"
                   formControlName="confirmPassword">
            @if (formUtils.isErrorField(myFormRegister, "confirmPassword")) {
                <span class="text-red-500 text-sm">
                    {{ formUtils.getMessageError(myFormRegister, "confirmPassword") }}
                </span>
            }   
        </div>

        @if (myFormRegister.errors && myFormRegister.touched) {
            <span class="text-red-500 text-sm">
                    Las contraseñas no son iguales
            </span>
        }
        <div class="flex justify-end">
            <button class="bg-blue-500 text-white rounded p-2"
                    type="submit">
                Crear
            </button>
        </div>

    </form>
</div>

<div class="mt-4 space-y-2 text-white">
    <h2 class="text-xl font-semibold">Form Valid: {{myFormRegister.valid}}</h2>
    <h2 class="text-xl font-semibold">Form Status: {{myFormRegister.status}}</h2>
    <h2 class="text-xl font-semibold">Form Pending: {{myFormRegister.pending}}</h2>
    <h2 class="text-xl font-semibold">Form errors:</h2>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.errors | json }}</pre>
    <h2 class="text-xl font-semibold">Form value:</h2>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.value | json }}</pre>

    <h5 class="text-lg font-medium">Nombre</h5>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.controls.name.errors | json }}</pre>

    <h5 class="text-lg font-medium">Email</h5>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.controls.email.errors | json }}</pre>

    <h5 class="text-lg font-medium">Username</h5>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.controls.username.errors | json }}</pre>

    <h5 class="text-lg font-medium">Password</h5>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.controls.password.errors | json }}</pre>

    <h5 class="text-lg font-medium">Confirmar</h5>
    <pre class="text-black bg-gray-100 p-2 rounded">{{ myFormRegister.controls.confirmPassword.errors | json }}</pre>
</div>