<h1 class="text-2xl font-bold">Home works</h1>
<hr>

<section class="flex flex-col justify-around gap-5 py-4">
    <p>Signal Property {{ signalPropery() }}</p>
    <p>Traditional Property {{ traditionalProperty }} </p>
</section>

<button (click)="changeSignal()" class="btn btn-accent mx-4">Update signal</button>
<button (click)="changeTraditional()" class="btn btn-accent mx-4">Update traditional</button>


<br>

<app-title [inputProp]="signalPropery()" />
<app-title [inputProp]="traditionalProperty" />