<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__list--link">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="navbar__list--link">
            <a routerLink="hero" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Hero</a>
        </li>
        <li class="navbar__list--link">
            <a routerLink="dragonball" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dragon ball</a>
        </li>
    </ul>
</nav>