<div class="col-12 col-sm-6">
        <h3>{{ !dragonBallService.isSelectedCharacter() ? 'Agregar' : 'Editar información de ' + dragonBallService.character()!.name}}</h3>
        <input type="text" class="form-control" placeholder="Nombre" [value]="dragonBallService.character()?.name" (input)="name.set(txtName.value)" #txtName>
        <input type="number" class="form-control mt-2" placeholder="Poder" type="number" [value]="dragonBallService.character()?.power" (input)="power.set(txtPower.value)" #txtPower min="1">

        <button class="mt-2 btn btn-primary" (click)="handlerApplyChanges()" [disabled]="isDisabledForm()">{{ !dragonBallService.isSelectedCharacter() ? 'Agregar' : 'Editar'}}</button>
        @if (dragonBallService.isSelectedCharacter()) {
            <button class="mt-2 btn btn-primary mx-3" (click)="reset()">Descartar</button>
        }
    </div>